@type TestMacintoshPicture : "PICT" {
    template {
        HEXD Data;
    };

    field("PNG") {
        Data as File<PNG> __conversion($InputFormat, PICT);
    };

    field("TGA") {
        Data as File<TGA> __conversion($InputFormat, PICT);
    };
};

declare TestMacintoshPicture {
    new(#128) {
        TGA = import "@rpath/TestImage.tga";
    };

    new(#129) {
        PNG = import "@rpath/TestImage.png";
    };
};
