@type StringList : "STR#" {
    template {
        OCNT Strings;
        LSTC StringsBegin;
        PSTR    string;
        LSTE StringsEnd;
    };

    field("String") repeatable<0, 65535, Strings> {
        string;
    };
};

declare StringList {
    new(#128) {
        String = "a";
        String = "b";
        String = "c";
    };
};
