` Test the declaration of a new variable and use within a directive.
@var $foo = 5;
@var $bar = 10;
@out "foo is " $(foo + bar);

@var $gamma = $((foo + bar) * 2);
@out "gamma is " $gamma;

@type Example : "expl" {
    template {
        DWRD Value;
    };

    field("Value") {
        Value;
    };
};

declare Example {
    new ($(#128 + gamma)) {
        Value = $gamma;
    };
};